body{
    margin: 0px;
    background-color: antiquewhite;
}

.div0{
    margin-left: 150px;
}
.div1{
    margin-left: 100px;
    width: 800px;
    background-color: rgb(128, 128, 235);
    display: flex;
    border-radius: 30px;
}

.div1 div{
    background-color: rgb(243, 243, 243);
    margin: 20px 5px 20px 25px;
    border-radius: 2px;
    padding: 10px 25px;
    border-radius: 20px;
}

.div1 div a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.div1 div:hover{
    background-color: rgb(168, 162, 162);
}